:root { 
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 16 )
}
@media( min-width: 700px) {
    :root {
        --pixel-size:3px;
    }
}
@media( min-width: 900px) {
    :root {
        --pixel-size:4px;
    }
}

html,body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3b4eff;
}


.pixel-art {
    image-rendering: pixelated;
}
.frame {
    
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    outline: var(--pixel-size) solid rgb(35, 123, 255);
    z-index:1; 
    position:relative;
}

.camera {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    overflow: hidden;
    background: #61ddf7;
    position:relative;
    outline: solid red;
}
.map {
    image-rendering: pixelated;
    background-image: url(https://github.com/Mickxz/Proyecto-intro/blob/e4cf8b75043915330ca8dc31995c2fa11672db29/Juego/static/image/Mapas/new_map.png?raw=true);
    background-size: 100%;
    width:400%;
    height:400%;
    position: relative;
    background-repeat: no-repeat;
}

.character {
    width:  calc(var(--grid-cell)* 2);
    height:  calc(var(--grid-cell)* 2);
    position: absolute;
    background-image: url(https://github.com/Mickxz/Proyecto-intro/blob/3a62fa09e582bea879ddaa7b4cab0ccc679e2f70/Juego/static/image/personajes/protagonista.png?raw=true);
    background-repeat: no-repeat;
}
.shadow {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    left:0;
    top:0;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
    background-size: 100%;
}

.character_spritesheet {
    position: absolute;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 8 );
    height: calc( var(--grid-cell)* 8 );
}
.character[facing="right"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="up"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -64 );
}
.character[facing="left"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -96 );
}
.character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite; 
}
@keyframes walkAnimation { 
    from {
        transform: translate3d(0%,0%,0);
    }
    to {
        transform: translate3d(-100%,0%,0);
    }
}
.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
    position: absolute;
    width: var(--pixel-size);
    height: var(--pixel-size);
    background: rgba(255, 255, 255, 0);
    z-index: 2;
}

.corner_topleft{
    top: calc(var(--pixel-size)* -1);
    left: calc(var(--pixel-size)* -1);
}
.corner_topright {
    top: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1) ;
}
.corner_bottomleft {
    bottom: calc(var(--pixel-size)* -1);
    left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
    bottom: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
}
.headline {
    position: absolute;
    top: calc(var(--pixel-size) * 2);
    right:calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 75)
}