{% load static %} 
<link rel="stylesheet" href="{% static 'estilos.css' %}" />


<head>
<body>
    <audio loop autoplay> 
        <source src="/static/SFX/tittle.mp3" type="audio/mp3">
    </audio>
    <div class="titulo">
        <h1>THE PRESTIGIUS WAY</h1>
    </div>
    <div class="contenedor">
        <img src="/static/image/Arte_UI/cuadrosdetexto.png" height="120px" widht="110px">
        <div class="text">
            <div style="flex-direction: column; width: 110px; display: flex;">
                <a href="/index" style="width: 200px;">INICIAR PARTIDA</a>
                <a href="/index" style="width: 200px;">CARGAR PARTIDA</a>
            </div>
        </div>

    </div>
    
</body>